<br>

<div class="row">
  <div class="col">
    <app-card-produto
  foto= "./../../../assets/img/maioLaranja1.jpg"
 nomeProduto = "Lançamento da Youth Protection"
 [promocao] ="false"
 [idProduto] = "1"
 dataValidade = "2021-12-31"
 [precoProduto] = "0"
 anuncio = "Informatio"
 ></app-card-produto>
<br>
 <app-card-produto
 foto= "./../../../assets/img/maioLaranja2.jpeg"
nomeProduto = "Maio Laranja"
[promocao] ="false"
[idProduto] = "2"
dataValidade = "2021-12-31"
[precoProduto] = "0"
anuncio = "Postagem"
></app-card-produto>
 <br>

  </div>
  <div class="col">
    <app-card-produto
  foto= "./../../../assets/img/maiolaranja4.jpg"
 nomeProduto = "Quem somos nós"
 [promocao] ="false"
 [idProduto] = "3"
 dataValidade = "2021-12-31"
 [precoProduto] = "0"
 anuncio = "Informativo"
 ></app-card-produto>
<br>
 <app-card-produto
 foto= "./../../../assets/img/maioLaranja5.jpg"
nomeProduto = "Ação contra o abuso infantil"
[promocao] ="false"
[idProduto] = "4"
dataValidade = "2021-12-31"
[precoProduto] = "0"
anuncio = "Postagem"
></app-card-produto>
<br>

  </div>
</div>
