<h1 class="my-3">Cadastrar Usuário</h1>
<div class="card shadow">
  <form class="m-3">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nome">Nome do Usuário: </label>
          <input
           type="text"
           class="form-control"
           placeholder="Digite o nome do Usuario"
           name="nomeProduto"
           [(ngModel)] = "produto.nome"/>
        </div>
      </div>
    </div><!--Fim row-->
    <div class="row">
    
      <div class="col-md-6">
        <div class="form-group">
          <label for="precoProduto">Tipo do Usuário: </label>
          <input
           type="string"
           class="form-control"
           placeholder=""
           name="preco"
           [(ngModel)] = "produto.precoProduto"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-default" routerLink="/produtos">
           Voltar
        </button>
        <button class="btn btn-success float-right" (click)="salvarProduto()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>


